<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>16.0f5</Version>
<Cluster>
<Name>Settings</Name>
<NumElts>7</NumElts>
<EW>
<Name>Signal Type</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Val>0</Val>
</EW>
<Array>
<Name>Calibration Array</Name>
<Dimsize>0</Dimsize>
<Cluster>
<Name>Calibration</Name>
<NumElts>2</NumElts>
<DBL>
<Name>Slope</Name>
<Val></Val>
</DBL>
<DBL>
<Name>Offset</Name>
<Val></Val>
</DBL>
</Cluster>
</Array>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\CAST\Desktop</Val>
</Path>
<Cluster>
<Name>EEG Channels</Name>
<NumElts>2</NumElts>
<Array>
<Name>16 EEG Channels</Name>
<Dimsize>16</Dimsize>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>1</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>2</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>3</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>4</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>5</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>6</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>7</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Cz</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>8</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>9</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>10</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>11</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>12</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>13</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>14</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Disabled</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>15</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>EEG Single Channel</Name>
<NumElts>4</NumElts>
<String>
<Name>Channel Name</Name>
<Val>Ref</Val>
</String>
<U8>
<Name>Channel No</Name>
<Val>16</Val>
</U8>
<Boolean>
<Name>Channel Enabled</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>Channel Referenced</Name>
<Val>1</Val>
</Boolean>
</Cluster>
</Array>
<U8>
<Name>Gain</Name>
<Val>24</Val>
</U8>
</Cluster>
<EW>
<Name>Soft Trig enum</Name>
<Choice>Disable Soft Trigger</Choice>
<Choice>Enable Soft Trigger</Choice>
<Val>1</Val>
</EW>
<Cluster>
<Name>Montage selection</Name>
<NumElts>3</NumElts>
<Refnum>
<Name>Montages Ref</Name>
<RefKind>LV Object</RefKind>
<RefType>Control</RefType>
<Val>0x52300093</Val>
</Refnum>
<U8>
<Name>Selected Montage Number</Name>
<Val>3</Val>
</U8>
<Array>
<Name>Montages Names</Name>
<Dimsize>5</Dimsize>
<String>
<Name>String</Name>
<Val>CNV Demo.xml</Val>
</String>
<String>
<Name>String</Name>
<Val>Default.xml</Val>
</String>
<String>
<Name>String</Name>
<Val>ExperimentA.xml</Val>
</String>
<String>
<Name>String</Name>
<Val>Eyes OC Demo.xml</Val>
</String>
<String>
<Name>String</Name>
<Val>Test Device.xml</Val>
</String>
</Array>
</Cluster>
<EW>
<Name>LSL En enum</Name>
<Choice>LSL Disabled</Choice>
<Choice>LSL Enabled</Choice>
<Val>0</Val>
</EW>
</Cluster>
</LVData>